<hr/>
<footer>
    <div class="left">2021 &copy; CédricMurairi</div>
    <div class="social">
        <ul>
            <li>GitHub</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
            <li>YouTube</li>
        </ul>
    </div>
</footer>