<hr/>
<footer>
    <div class="left">2021 &copy; CédricMurairi</div>
    <div class="social">
        <ul>
            <a href="mailto:murairicedric@gmail.com" target="_blank"><li>Email</li></a>
            <a href="https://github.com/CedricMurairi" target="_blank"><li>GitHub</li></a>
            <a href="https://twitter.com/CMurairi" target="_blank"><li>Twitter</li></a>
            <a href="https://www.linkedin.com/in/cedric-murairi" target="_blank"><li>LinkedIn</li></a>
            <a href="https://www.youtube.com/channel/UCJl_kK5gSnR3f0MqOLG9wKw" target="_blank"><li>YouTube</li></a>
        </ul>
    </div>
</footer>