<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cedric Murairi | Junior Engineer | Software Engineer. I provide software engineering services from Web Apps to Mobile Apps and Desktop Apps.
    I can also build you a personal portfolio website just like this one to show off you work, regardless of your domain.">

    <meta property="og:title" content="Cedric Murairi | Software Engineer" /> 
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cedricmurairi.me" />
    <meta property="og:image" content="images/Brand-image.png" />


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CMurairi">
    <meta name="twitter:creator" content="@CMurairi">
    <meta name="twitter:title" content="Cedric Murairi | Software Engineer">
    <meta name="twitter:description" content="Cedric Murairi | Junior Engineer | Software Engineer. I provide software engineering services from Web Apps to Mobile Apps and Desktop Apps.
    I can also build you a personal portfolio website just like this one to show off you work, regardless of your domain.">
    <meta name="twitter:image" content="images/Brand-image.png">

    <link rel="icon" href="images/Brand-image.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>