<header>
    <div class="logo">CédricM</div>
    <nav>
        <ul>
            <a href="/"><li>Me</li></a>
            <a href="/projects"><li>Projects</li></a>
            <a href="#"><li>Experience</li></a>
            <a href="#"><li>Blog</li></a>
            <a href="#"><li>Activities</li></a>
        </ul>
    </nav>
</header>
<hr>