<header>
    <div class="logo">CédricMurairi</div>
    <nav>
        <ul>
            <li>Projects</li>
            <li>Experience</li>
            <li>Blog</li>
            <li>Activities</li>
        </ul>
    </nav>
</header>