<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: "Experiences"}) %>
<body>
    <div class="container">
        <%- include('_header') %>
        <div class="articles">
            <h1>Development Underway | <a href="/">Return home</a></h1>
        </div>
        <%- include('_footer') %>
    </div>
    <script src="javascript/main.js"></script>
</body>
</html>