<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: "Experiences"}) %>
<body>
    <div class="container">
        <%- include('_header') %>
        <div class="experiences">
            <h1>Experiences</h1>
            <hr>
            <div>
                <div class="title">
                    <h5>SOFTWARE AND MARKETING INTERN</h5>
                    <h6>DLM Entreprises, DRC - Remote: July 2020 - September 2020</h6>
                </div>
                <ul>
                    <li>Worked on the optimization and a 95% redesign of the company website to improve their online visibility and overall user experience.</li>
                    <li>Boosted the company’s social media accounts by 45%, engaging with customers through their CRM to ensure retention.</li>
                </ul>
            </div>
            <div>
                <div class="title">
                    <h5>ACADEMIC MENTOR INTERN</h5>
                    <h6>African Leadership University, RWANDA: October 2020 - Present</h6>
                </div>
                <ul class="experience-details hidden">
                    <li>Worked with 24+ freshman and CS students as one of the point persons they reached out for academic assistance.</li>
                    <li>Held 20+ workshops, training, and signature events to support, train, and equip mentees with the necessary skills to become independent and lifelong learners.</li>
                </ul>
            </div><div>
                <div class="title">
                    <h5>MLH Workshops & Event Organizer | Local Host</h5>
                    <h6>Major League Hacking, USA - Remote: July 2020 - Present</h6>
                </div>
                <ul class="experience-details hidden">
                    <li>Hosted 10+ MLH Local Host Workshops within my developer community at school and helped 20+ students quickly start their journey.</li>
                    <li>Co-hosted MLH Local Hack Day Learn with my Co-Founder at InfinitLoop Developers. Ran up to 5 workshops with a total of more than 200+ engagements worldwide.</li>
                </ul>
            </div>
            <div>
                <div class="title">
                    <h5>MLH SUMMER LEAGUE MENTOR</h5>
                    <h6>Major League Hacking, USA - Remote: July 2020 - August 2020</h6>
                </div>
                <ul class="experience-details hidden">
                    <li>Worked with 5+ hackers during their process of building sustainable solutions during digital hackathons.</li>
                    <li>Assisted with design thinking and answering any software-related question they had, helped with cracking bugs whenever they occurred.</li>
                </ul>
            </div>
            <div>
                <div class="title">
                    <h5>CO-FOUNDER OF INFINITLOOP DEVELOPERS</h5>
                    <h6>InfinitLoop Developers, DRC: January 2020 - Present</h6>
                </div>
                <ul class="experience-details hidden">
                    <li>Co-Founded InfinitLoop Developers to empower underrepresented groups into tech to build technologies that work better for everyone.</li>
                    <li>Leverage the power of imagination and provide tech enthusiasts in underrepresented groups and communities with resources and intensive training to transform them into tech leaders who solve pressing challenges in their communities.</li>
                </ul>
            </div>
            <a href="https://docs.google.com/document/d/1tjCRTDLZo-asOYTzabpcR3rE-1Ceeiz0axTvB_vqjbA/edit?usp=sharing" target="_blank"><button class="resume">Check My Resume</button></a>
        </div>
        <%- include('_footer') %>
    </div>
    <script src="javascript/main.js"></script>
</body>
</html>