<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: "Home"}) %>
<body>
    <div class="container">
        <%- include('_header') %>
        <div class="projects">
            <h1>Projects</h1>
            <hr>
            <div class="project">
                <div class="project-detail">
                    <h4>HackDay</h4>
                    <p>React learning project and productivity app prototype. <br><strong>DSA | LocalStorage | React | HTML | CSS | Javascript</strong></p>
                    <a href="https://thehackday.netlify.app/" target="_blank"><button>View live</button></a>
                    <a href="https://github.com/CedricMurairi/non-stop" target="_blank"><button>Code</button></a>
                </div>
                <div class="project-img">
                    <img src="images/hackday.png"/>
                </div>
            </div>
            <div class="project">
                <div class="project-detail alias-details">
                    <h4>DLM Entreprise Website</h4>
                    <p>Redesign and optimization of Eastern DRC Leading Construction Company Website <br><strong>Wix | HTML | CSS | Javascript</strong></p>
                    <a href="https://www.dlmentreprises.com/" target="_blank"><button>View live</button></a>
                </div>
                <div class="project-img">
                    <img src="images/dlmentreprises.png"/>
                </div>
                <div class="project-detail tbd-details">
                    <h4>DLM Entreprise Website</h4>
                    <p>Redesign and optimization of Eastern DRC Leading Construction Company Website <br><strong>Wix | HTML | CSS | Javascript</strong></p>
                    <a href="https://www.dlmentreprises.com/" target="_blank"><button>View live</button></a>
                </div>
            </div>
            <div class="project">
                <div class="project-detail">
                    <h4>Water Co API&UI</h4>
                    <p>API & UI simulating user management for a Water Supply Co, from bills, payments and more. <br><strong>Node.js | HTML | CSS | Javascript | JWT | Bcryptjs</strong></p>
                    <a href="https://water-co-ui.herokuapp.com/" target="_blank"><button>View live</button></a>
                    <a href="https://github.com/CedricMurairi/waterco_api" target="_blank"><button>Code</button></a>
                </div>
                <div class="project-img">
                    <img src="images/water-co.gif"/>
                </div>
            </div>
        </div>
        <a style="opacity: 0.5;" href="mailto:murairicedri@gamil.com"><img src="images/Brand-image.png" width="35px" alt="Cedric Murairi Image"><button style="margin-left: 10px;">Contact Me</button></a>
        <%- include('_footer') %>
    </div>
</body>
</html>