<!DOCTYPE html>
<html lang="en">
<%- include('_head', {title: "Home"}) %>
<body>
    <div class="container">
        <%- include('_header') %>
        <%- include('_footer') %>
    </div>
</body>
</html>