body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    min-width: 370px;
}

/* h1, h2, h5{
    color: wheat;
    opacity: 0.5;
} */

body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container{
    position: relative;
    width: 70%;
    margin: auto;
}

.logo{
    font-size: 40px;
    font-weight: bold;
}

header ul, footer ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: gray;
}

header, footer{
    padding: 2px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

header li, footer li{
    display: inline-block;
}

header li{
    font-weight: bold;
}

header{
    color: white;
    height: 10vh;
}

footer{
    height: fit-content;
    color: gray;
    padding-bottom: 10px;
}

footer img, footer svg{
    opacity: 0.5;
}

footer img:hover, footer svg:hover{
    opacity: 1;
}

.welcome-banner{
    text-align: center;
    /* height: 90vh; */
    margin-bottom: 50px;
}

.welcome-banner img{
    opacity: 0.8;
    width: 25%;
}

.welcome-banner img:hover{
    opacity: 0.5;
}

.welcome-banner p{
    opacity: 0.8;
    font-size: 20px;
    color: #e6e4e1;
}

p, .experiences li{
    color: rgb(114, 114, 114);
}

.technology{
    margin-bottom: 50px;
}

.tech-tools{
    opacity: 0.5;
}

.tech-tools h5{
    margin-top: 10px;
}

.hidden{
    display: none;
}

.title:hover{
    cursor: pointer;
    color: rgb(114, 114, 114);;
}

.title+ul{
    animation: pop-in 0.2s normal;
}

@keyframes pop-in{
    0%{opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}

.experiences div{
    margin-bottom: 20px;
}

.experiences{
    position: relative;
}

.experiences li{
    padding: 3px 10px;
    background-color: rgba(38, 50, 56, 0.2);
    margin-bottom: 5px;
}

button{
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: wheat;
}

.resume{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
}

.project{
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.project:nth-child(odd){
    grid-template-columns: 1fr 2fr;
}

.project:nth-child(even){
    grid-template-columns: 2fr 1fr;
}

.project-img img{
    opacity: 0.8;
    width: 100%;
}

.project-img:hover{
    opacity: 0.5;
}

.project-detail{
    color: wheat;
}

.articles, .activities{
    height: 80vh;
}

.alias-details{
    display: none;
}

.bottom-navigation{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0);
    width: 100%;
    box-shadow: 1px 1px 3px white;
    justify-content: center;
    align-content: center;
    display: none;
}

.bottom-navigation .container{
    display: flex;
    justify-content: space-around;
}

.bottom-navigation .container svg{
    opacity: 0.8;
}

.bottom-navigation .container a{
    width: fit-content;
    align-self: center;
}

.bottom-navigation .container svg:hover{
    opacity: 1;
}

.call-to-action{
    margin-top: 20px;
}

.contact-form{
    width: 50%;
}

.contact-form form{
    opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
    nav{
        display: none;
    }

    .bottom-navigation{
        display: flex;
        height: 7vh;
    }
    
    footer{
        margin-bottom: 20px;
    }

    .contact-form{
        width: 100%;
    }

    .project-detail{
        font-size: 12px;
    }
}


@media only screen and (max-width: 700px) {
    .welcome-banner p{
        font-size: 15px;
    }

    .about{
        text-align: justify;
    }

    .resume{
        font-size: 10px;
    }

    .welcome-banner img{
        width: 50%;
    }

    .tech-tools img, .tech-tools svg{
        width: 15%;
    }

    .logo{
        font-size: 30px;
    }

    .container{
        width: 100%;
    }

    header+hr{
        display: none;
    }

    nav{
        display: none;
    }

    .bottom-navigation{
        display: flex;
        height: 7vh;
    }

    footer{
        margin-bottom: 70px;
    }

    .contact-form{
        margin: auto;
        width: 90%;
    }

    button{
        margin-bottom: 5px;
    }

    .project{
        display: block;
        margin-bottom: 20px;
    }

    .alias-details{
        display: block;
    }

    .tbd-details{
        display: none;
    }
}